.collections-row {
  display: flex;
}

.collection-image-2,
.collection-image-3 {
  width: 50%;
  height: 710px;
  object-fit: cover;
  display: block;
}
marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: #222; /* deep muted black */
  font-family: 'Helvetica Neue', 'Inter', sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  padding: 0.8rem 0;
}


@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.collection-image{
    width: 100%;
    height: 710px;
    object-fit: cover;
    display: block;
}

.collection-image-2{
    width: 50%;
    height: 710px;
    object-fit: cover;
    display: block;
}

